/* Alerta Erro
----------------------------------------------- */
/* Geral */

.alerta {
	padding: 25px;
	border: 1px solid gray;
	border-radius: 3px;
	margin: 10px;
	font-size: 18px;
}
.error {
    position: absolute;
    bottom: 5%;
    right: 12%;
    width: 46%;
	border-color: rgba(237, 85, 101, 0.7);
	color: black;
	background-color: rgba(237, 85, 101, 0.7);
}
.sucesso {
    position: absolute;
    bottom: 5%;
    right: 12%;
    width: 46%;
	border-color: rgba(160, 212, 104, 0.7);
	color: black;
	background-color: rgba(160, 212, 104, 0.7);
}
.atencao {
    position: absolute;
    bottom: 5%;
    right: 12%;
    width: 46%;
	border-color: rgba(246, 187, 66, 0.7);
	color: black;
	background-color: rgba(246, 187, 66, 0.7);
}
.info {
	border-color: #2f80e7;
	color: #FFF;
	background-color: #5d9cec;
}